.table_header{
    display: flex;
    gap: 26rem;
    padding-left: 12rem;
    margin-top: 25px;
    background-color: burlywood;
    /* flex-wrap: wrap; */
}
/* .row{
    display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 9rem;
    padding-left: 12rem;
    margin-top: 15px;
} */
/* .table_name{
    width: 20rem;
} */
/* .table_type{
    width: 20rem;
    margin-left: auto;
    margin-right: 8rem;
    justify-content: left;
} */

.table_data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  .row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table_name {
    flex: 2;
    padding-left: 4rem;
  }
  
  .table_country {
    flex: 1;
  }
  
  .table_type {
    flex: 2;
  }
  
 .main_heading{
  text-align: center;
 }

 .search_bar{
  display: flex;
  gap: 38rem;
  padding-left: 5rem;
 }

 .popup_container{
  position: fixed; /* make it fixed so it doesn't move when you scroll */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
 }


 .popup_content {
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_header h2 {
  margin: 0;
}

.popup_header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
