.main_heading{
    text-align: center;

}

.search_bar{
    display: flex;
    position: relative;
}
.sort_div{
    float: right;
    margin-left: auto;
    margin-right: 45px;
}

.search_div{
    margin-left: 25px;
}